<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="all" type="text/css" href="C:\Users\fatim\Desktop\FutureProof\express-invitation\public\css\styles.css">
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
    </script>
    <script src="C:\Users\fatim\Desktop\FutureProof\express-invitation\app\app.js"></script>

    <title>Document</title>
</head>
<body>
<header>
    <h2>Create your own personalised invitation card!</h2>
</header>
<br>
<main>
<p>Just fill in the details you want in your cards in the form below: </p>
    <section>
        <form id="form" action="http://localhost:4001/invitation" method="POST" >
            
            <label for="greeting">Greeting: </label>
            <input type="text" id="gId" name="greeting"><br>

            <label for="event">Select your event: </label><br>
            <select id="event" name="event">
                <option value="wedding">Wedding</option>
                <option value="birthday">Birthday</option>
                <option value="funeral">Funeral</option>
            </select><br>

            <label for="message">Have you got any extra messages?</label><br>
            <input type="textarea" id="mId" name="message"rows="4" cols="50"><br>

            <input type="submit" id="submit">

        </form>
    </section>
</main>

    
</body>
</html>